/* ------------------------------------
           CONTENT - TOPPAGE
--------------------------------------*/ 
.wrap {
	.title {
        color: $bgColor;
        margin-bottom: 1em;
        img {
            height: 34px;
        }
        @media screen and (max-width: 1600px) {
            img {
                height: 22px;
            }
        }
        @media screen and (max-width: 768px) {
            img {
                height: 26px;
            }
        }
	}
	
}


#About {
    .text {
        hr {
            border-bottom-color: $bgColor;
        }
    }
    @media screen and (max-width: 1600px) {
    }
    @media screen and (max-width: 768px) {
    }
    @media screen and (max-width: 414px) {
        .flex {
            flex-wrap: wrap;
            row-gap: 10vw;
            .f-box {
                &:nth-of-type(1), &:nth-of-type(2) {
                    width: 50%;
                }
                &:nth-of-type(3) {
                    width: 100%;
                }
            }
        } 
    }
}

#Work {
    background: $bgColor;
    .title {
        color: $baseColor;
    }
    article {
        width: 100%;
        margin: 5% 0;
        figure {
            margin: 0;
            width: 75%;
        }
        a {
            display: flex;
            align-items: center;
            gap: 2%;
            img {
                @include transition(all .5s ease);
            }
            .info {
                margin: 0;
            }
            &:hover {
                img {
                    opacity: 0.7;
                }
            }
        }
        &:nth-child(even) {
            a {
                flex-direction: row-reverse;
            }
        }
    }
    
    @media screen and (max-width: 1600px) {
    }
    @media screen and (max-width: 768px) {
    }
    @media screen and (max-width: 414px) {
    }
}
