/* ------------------------------------
                  FV
--------------------------------------*/ 
#Top {
    position: relative;
}

#Fv {
    background: $bgColor;
    padding: 30vh 0 20vh;
    letter-spacing: 2px;
    h1 {
        display: inline-block;
        flex-wrap: wrap;
        line-height: 1;
        position: relative;
        z-index: 2;
        &:after {
            content: '';
            background: #fff;
            position: absolute;
            z-index: -1;
            width: 100%;
            bottom: 0;
            height: 50%;
            left: 0;
        }
    }
    h2 {
        font-weight: 400;
        letter-spacing: 10px;
    }
    
	@media screen and (max-width: 1600px) {
	}
	@media screen and (max-width: 768px) {
        padding: 9vw 0 9vw;
	}
	@media screen and (max-width: 414px) {
        padding: 5vw 0 1vw;
        h1 {
            letter-spacing: 1vw;
            margin-bottom: 2vw;
            &:after {
                opacity: 0.6;
                height: 4vw;
                width: 100%;
            }
        }
        h2 {
            letter-spacing: 2px;
        }
    }
}


/* ------------------------------------
              SCROLL DOWN
--------------------------------------*/ 
.scroll {
    background: $bgColor;
    font-family: $headingFont;
    position: relative;
    padding: 2rem 0 5rem;
    font-weight: 400;
    z-index: 2;
    letter-spacing: 0;
    color: #fff;
    @include transition(all .3s ease); 
    &:hover {
        color: $primaryColor;
    }
    a {
        display: block;
    }
    &:before, &:after {
        content: '';
        position: absolute;
        width: 1px;
        background: #fff;
        pointer-events: none;
        bottom: 2rem;
    }
    &:before {
        height: 3em;
        left: 49.9%;
    }
    &:after {
        height: 0.75em;
        transform: rotate(35deg);
        left: 50.1%;
    }
    
    @media screen and (max-width: 1600px) {
    }
    @media screen and (max-width: 768px) {
        position: absolute;
        left: 1.8vw;
        bottom: 3vw;
        writing-mode: vertical-lr;
        z-index: 10;
        font-size: 10px;
        font-weight: 100;
        padding: 3vw 0 7vw;
        letter-spacing: 2px;
        color: #fff;
        text-transform: uppercase;
        .sp {
            display: inline-block;
            padding-top: 0.5em;
        }
        &:before, &:after {
            bottom: 0;
            background: #fff;
        }
        &:before {
            left: 46.9%;
        }
        &:after {
            left: 53.3%;
        }
    }
    @media screen and (max-width: 414px) {
        background: none;
        color: $bgColor;
        padding: 3vw 0 15vw;
        transform: scale(0.75);
        bottom: -36vw;
        left: 2vw;
        &:before, &:after {
            background: $bgColor;
        }
    }
}